body {
  margin: 0;
  padding-top: 2em;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  color: #968f8f;
}

main {
  display: block;
}

main img {
  display: block;
  margin: 1em auto 2em auto;
}

p {
  color: #A66615;
}

.hide {
  display: none;
}

.content {
  background-color: #FFD383;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#fact {
  font-size: 1.5em;
  padding: 5em 0;
  max-width: 800px;
  max-height: 10px;
  margin: 0 auto;
  font-family: 'Quattrocento', serif;

  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  border: none;
  background: none;
  outline:0;
  display: block;
  width: 120px;
  margin: 1em auto;
  font-size: 1.5em;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

.btnOrange {
  background: #FFAA40;
}

.btnOrange.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #A66615;
}

@-webkit-keyframes hvr-buzz-out {
  10% {
     -webkit-transform: translateX(3px) rotate(2deg);
     transform: translateX(3px) rotate(2deg)
  }
  20% {
     -webkit-transform: translateX(-3px) rotate(-2deg);
     transform: translateX(-3px) rotate(-2deg)
  }
  30% {
     -webkit-transform: translateX(3px) rotate(2deg);
     transform: translateX(3px) rotate(2deg)
  }
  40% {
     -webkit-transform: translateX(-3px) rotate(-2deg);
     transform: translateX(-3px) rotate(-2deg)
  }
  50% {
     -webkit-transform: translateX(2px) rotate(1deg);
     transform: translateX(2px) rotate(1deg)
  }
  60% {
     -webkit-transform: translateX(-2px) rotate(-1deg);
     transform: translateX(-2px) rotate(-1deg)
  }
  70% {
     -webkit-transform: translateX(2px) rotate(1deg);
     transform: translateX(2px) rotate(1deg)
  }
  80% {
     -webkit-transform: translateX(-2px) rotate(-1deg);
     transform: translateX(-2px) rotate(-1deg)
  }
  90% {
     -webkit-transform: translateX(1px) rotate(0);
     transform: translateX(1px) rotate(0)
  }
  100% {
     -webkit-transform: translateX(-1px) rotate(0);
     transform: translateX(-1px) rotate(0)
  }
}

@keyframes hvr-buzz-out {
  10% {
     -webkit-transform: translateX(3px) rotate(2deg);
     transform: translateX(3px) rotate(2deg)
  }
  20% {
     -webkit-transform: translateX(-3px) rotate(-2deg);
     transform: translateX(-3px) rotate(-2deg)
  }
  30% {
     -webkit-transform: translateX(3px) rotate(2deg);
     transform: translateX(3px) rotate(2deg)
  }
  40% {
     -webkit-transform: translateX(-3px) rotate(-2deg);
     transform: translateX(-3px) rotate(-2deg)
  }
  50% {
     -webkit-transform: translateX(2px) rotate(1deg);
     transform: translateX(2px) rotate(1deg)
  }
  60% {
     -webkit-transform: translateX(-2px) rotate(-1deg);
     transform: translateX(-2px) rotate(-1deg)
  }
  70% {
     -webkit-transform: translateX(2px) rotate(1deg);
     transform: translateX(2px) rotate(1deg)
  }
  80% {
     -webkit-transform: translateX(-2px) rotate(-1deg);
     transform: translateX(-2px) rotate(-1deg)
  }
  90% {
     -webkit-transform: translateX(1px) rotate(0);
     transform: translateX(1px) rotate(0)
  }
  100% {
     -webkit-transform: translateX(-1px) rotate(0);
     transform: translateX(-1px) rotate(0)
  }
}

.hvr-buzz-out {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale
}

.hvr-buzz-out:hover,
.hvr-buzz-out:focus,
.hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1
}
